.sidebar
{
    position: fixed;
    left: 0;
    top: 56px;
    bottom: 0;
    background-color: white;
    width: 72px;
    padding-top: 5px;
    z-index: 200;
    display: block;
}

.sidebar-link
{
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 74px;
}

.sidebar-link:hover
{
    background-color: rgb(232, 232, 232);
}

.icon-name
{
    margin-bottom: 5px;
    width: 24px;
    height: 24px;
}
